<p>If you use Plexe, please cite our work as</p>
<p><img src="http://www.ccs-labs.org/bib/icons/IEEE-logo.gif" title="IEEE" alt="">
 <a class="bibauthorlink" href="http://michele-segata.it/">Michele Segata</a>,
 <a class="bibauthorlink" href="https://ans.unibs.it/people/locigno/">Renato Lo Cigno</a>,
 <a class="bibauthorlink" href="https://www.cms-labs.org/people/hardes/">Tobias Hardes</a>,
 <a class="bibauthorlink" href="http://www2.tkn.tu-berlin.de/team/heinovski/">Julian Heinovski</a>,
 <a class="bibauthorlink" href="http://www2.tkn.tu-berlin.de/team/schettler/">Max Schettler</a>,
 <a class="bibauthorlink" href="https://www.bastibl.net/">Bastian Bloessl</a>,
 <a class="bibauthorlink" href="https://www.cms-labs.org/people/sommer/">Christoph Sommer</a> and
 <a class="bibauthorlink" href="http://www2.tkn.tu-berlin.de/team/dressler/">Falko Dressler</a>,
 "<strong>Multi-Technology Cooperative Driving: An Analysis Based on PLEXE</strong>," <i>IEEE Transactions on Mobile Computing (TMC)</i>, 2022.
 <small>[<a target="_blank" href="http://dx.doi.org/10.1109/TMC.2022.3154643">DOI</a>, <a href="https://www.ccs-labs.org/bib/segata2022multi-technology/segata2022multi-technology.bib">BibTeX</a>, <a target="_blank" href="https://www.ccs-labs.org/bib/segata2022multi-technology/">Details...</a>]</small>
</p>